/* typography */

.header-title {
	margin-top: 0;
	font-size: 2.375rem;
	line-height: 1.5rem;
}

.header-body {
	font-size: 1.375rem;
	line-height: 0.875rem;
}

/* layout */

.header {
	background-image: url(./burger-img.jpeg);
	/* width: inherit; */
	display: block;
	background-size: cover;
	height: 167px;
	min-height: 167px;
	background-position: center right;
	color: white;
}

.header-title {
	grid-column: menu-start / menu-description;
	grid-row: 1 / -1;
	/* a bit magic numbery... */
	margin-top: -25px;
}

.header-body {
	grid-column: menu-start / menu-description-end;
	grid-row: 1 / -1;
	/* a bit magic numbery... */
	margin-top: 30px;
}
