.grid {
	display: grid;
	grid-template-columns:
		[grid-start] 50px
		[menu-start icon-start] 130px
		[menu-description-start icon-end] 150px
		[menu-description-end] 1fr
		[button-start] 50px
		[menu-end button-end] 50px
		[grid-end];
	/* otherwise does not takeup full height of parent */
	height: 100%;
}

/* passes the columns to child elements */
.subgrid-columns {
	display: grid;
	grid-template-columns: subgrid;
}

.grid-vertical-center {
	align-self: center;
}
